@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * BASE
 */
  @layer base {
  a,
  img,
  button {
    @apply block;
  }

  input {
    @apply block
    outline-none
    bg-transparent
    w-full;
  }

  input[type='password'] {
    @apply tracking-[5px];
  }

  input[type='password']::placeholder {
    @apply tracking-normal;
  }

  body {
    @apply bg-light-background 
    dark:bg-dark-background 
    text-light-onBackground
    dark:text-dark-onBackground;
  }

  ::-webkit-scrollbar {
    @apply w-2
    h-2
    rounded-full;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-transparent
    rounded-full;
  }

  *:hover::-webkit-scrollbar-thumb {
    @apply bg-light-onBackground/15
    dark:bg-dark-onBackground/15;
  }
}

/* components */
@layer components {
  /* textfield */
  .text-field-wrapper {
    @apply relative;
  }

  .text-field {
    @apply ring-1
    ring-inset
    ring-light-outline
    dark:ring-dark-outline
    bg-inherit
    text-light-onSurface
    dark:text-dark-onSurface
    caret-light-primary
    dark:caret-dark-primary
    h-14
    px-4
    rounded-extraSmall
    transition-shadow
    duration-short3
    ease-linear
    
    hover:ring-light-onSurface
    dark:hover:ring-dark-onSurface
    ;
  }
}